/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/
ul.doneList, ul.taskList {list-style:none;}

body{background:url(../images/debut_light.png) repeat;}

/* -----------------------------------------
   Shared Styles
----------------------------------------- */

.task {background:#568d58;padding:5px; color:snow;-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px; border:1px solid #A1BC8C; margin:7px 0 0;}

.doneList li { padding:5px 0 7px; margin:1px 0 2px; list-style:none;}

.doneList .task {color:black; background:none; }
h1 {font-family: 'Erica One', cursive;}


.timer {height:50px;width:50px;}
.timing {background:url(../images/clock50.gif);}

/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


