<h1>What book am I thinking about</h1>

<div class="row">
<h1>That wasn't in the spec</h1>
</div>
  <div class="row">
    <div class="eight columns">
  <br/>
  <br/>
         <div class="row taskList">
      <ul>
      <li>
        <div class="nine columns task">
          <div class="edit">..I hope I can bill for this</div>
        </div>
        <div class="three columns time">
          <div class="timer"></div>
        </div>
      </li>
      </ul>
     </div>
     <br/>
     <br/>
     <div class="row doneList">
      <ul>
        
      </ul>
     </div>
     
    </div>

    <div class="four columns">
    <p><a href="#" class="success button" id="done">Go!</a></p>
    
    <p>Ever had a client that just wanted a couple of 'tiny' little changes?</p>

    <p>In the blink of an eye, you have ten files open, have edited 50 lines of css and written a custom javascript function.</p>

    <p>This handy widget will let you record those changes as you make them.</p>

    <ul>
    <li>Begin each task by writing it in the box.</li>
    <li>Now get on with your work</li>
    <li>As soon as the task is done hit the green button</li>
    </ul>
    <p>Your times will be recorded in the browser</p> 
    </div>
  </div>

