<div class="canvas-element" ng-controller="eatsomefoodController">
  <!-- FORM -->
  <form>
    <!-- NAME -->


    <!-- SUPERHERO NAME -->
    <div id="superhero-group" class="form-group">
      <label>What is approximation of a national dish called.</label>
      <input ng-model="formData.name" type="text" name="superheroAlias" class="form-control" placeholder="Caped Crusader">
      <span class="help-block"></span>
    </div>

    <!-- SUBMIT BUTTON -->
    <button type="submit" class="btn btn-success btn-lg btn-block">
      <span class="glyphicon glyphicon-flash"></span> Submit!
    </button>
  </form>
  <pre>{{formData}}
</div>