<h1>You look for a job.</h1>

<article class="canvas-element" id="level001-smokesomepot01" ng-controller="smokesomepotController">
  <a href="" class="isthisthecoffeesong a lookatstuff"><!-- ui-sref="some"-->
    <p>Apply for job in Europe.</p>
  </a>
  <a href="" class="isthisthecoffeesong b">
    <p>Apply for job in South America.</p>
  </a>
  <a href="http://escape-from-samsara-20148.onmodulus.net/js/controllers/level001/level001Controller.js" class="isthisthecoffeesong c">
    look at source code
  </a>

     
    
    
        <section class="found-stuff-overlay a">
          <a href="" class="close a">Close</a>
          {{foo}}
        </section>
        <section class="found-stuff-overlay b">
          <a href="" class="close b">Close</a>
          <h1>b</h1>
        </section>
        
<!--  -->
</article>