#level001-smokesomepot01 
<h1>You smoke some pot</h1>

<article class="canvas-element" id="level001-smokesomepot01" ng-controller="watchsometvController">
  <!-- <a href="" class="isthisthecoffeesong a" ui-sref="smoke">
    <p>Look at stuff</p>
  </a>
  <a href="" class="isthisthecoffeesong b" ui-sref="eat">
    <p>Do some work</p>
  </a>
  <a href="" class="isthisthecoffeesong c" ui-sref="consume"> -->
    ksjflkd
  </a>

     
    
    
        <section class="found-stuff-overlay" ui-view>

        </section>
    
<!--  -->
</article>