<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html   >
<head>
  <!-- META -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

  <title>Escape from Samsara</title>

  <!-- SCROLLS -->
  <link rel="stylesheet" href="css/bootstrap.min.css"><!-- load bootstrap -->
  <link rel="stylesheet" href="css/style.css"><!-- load bootstrap -->
  <link rel="stylesheet" href="css/font-awesome-4.1.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/flexslider.css">
  <link rel="stylesheet" type="text/css" href="css/grid.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <link rel="stylesheet" type="text/css" href="css/typography.css">

  <!-- SPELLS -->
  <!-- // <script src="//code.jquery.com/jquery-1.11.0.min.js"></script> -->
  <script src="libs/jquery-1.10.2.js"></script>
  <!--script src="libs/angular.min.js"></script-->
  <!-- // <script src="libs/jquery.flexslider.js"></script> -->
  <script src="libs/angular-1.2.16.js"></script>
  <script src="libs/angular-ui-router.min.js"></script> 
  <!-- // <script src="libs/angular-ui-router-0.2.10.js"></script> -->
  <!-- // <script src="libs/angular-flexslider.js"></script> -->

  <!-- // <script src="js/controllers/main.js"></script> <!-- load up our controller -->
  <!-- // <script src="js/controllers/status/escapeStatusController.js"></script> <!-- load up our controller --> 
  <!-- // <script src="js/controllers/level001/level001Controller.js"></script> -->
  <!-- // <script src="js/services/todos.js"></script> <!-- load our todo service  -->
  <script src="js/core.js"></script> <!-- load our main application -->


</head>
<body ng-app="escapeApp">

<div class="content-wrapper">
  <div class="container_12">
        <div class="main-container">
            <div class="container_12">
              <div class="grid_4">
              <article class="newsmodule3" ng-controller="healthController">
                <h3 class="newsmodule-header home-article-heading">Health</h3>
                {{information}}
                <ul class="top-level-ul">
                  <li  ng-repeat="health in healths" class="health {{health.class}}">{{health.name}}<span>: {{health.value}}</span></li>
                </ul>
              </article>
              <article class="newsmodule3" ng-controller="gameBoardController">
                <h3 class="newsmodule-header home-article-heading">Actions</h3>
                <ul class="top-level-ul" >
                  <li><a ui-sref="work">Do some work.</a></li> 
                  <li><a ui-sref="exercise">Do some exercise.</a></li> 
                  <li><a ui-sref="getup">Get up.</a></li> 
                </ul>
                <div class="ui-view">

                </div>
                  <!-- <li><a ui-sref="consume">Watch some tv.</a></li> -->
              </article>
              </div>
              <div class="grid_8">
              <article class="canvas-module" ng-controller="gameBoardController">
                <div class="ui-view">


                <div class="room-001 action-default" />
                  <h1 ng-model="information">{{information}}</h1>
                  <button class="findaplant click">Find a plant.</button>
                  <a href="#" class="stopforsmoke click">Stop for smoke.</a>
                  <a href="#" class="hitawall click">Hit a wall.</a>
                  <div class="item plant">Plant</div><!-- switching between langauges helps you think -->
                      <p ng-show="true">This paragraph is visible.</p>
    <p ng-show="false">This paragraph is hidden.</p> 
    <p>i think a click handler can have its own controller</p>
<button ng-click="findaplant()">find a plant with a controller</button>
                </div>


                  <script>
                    $(function(){ // Loads javascript after page 

// var findaplant = function(input){ // accepts a plant
//   $('.findaplant').on('click', function(){
//     alert('you found a'+fireflower);
//     // pollon++
//   });
// }

// findaplant('fireflower'); //stopforsmoke('function');
// var stopforsmoke = function(input){ // accepts a class
//   $(input).on('click', function(){
//     alert('you smoke some hash');
//     // show screenshot animation
//     // pollon--
//     // health++
//   });
// }

// var hitwall = function(input){
//   $(input).on('click', function(){
//     alert('you have hit a wall');
//     // health--
//     // winning hit a wall gets you a fireflower

//   });
// }


});


                  </script>
                </div>
              </article>
              </div>
              <div class="grid_12">
              <article class="introduction-module" ng-controller="actionsController">
                <h2 class="home-article-heading">{{information}}</h2>
                <!-- <div class="article-heading-border"></div> -->
                <!-- <p class="home-article-item">You wake up from a dream. Your in a strange place and you want to get home.</p> -->
                <ul ng-repeat="action in actions" class="actions">
                  <li class="action {{action.class}}">{{action.name}}</li>
                </ul>
                <ul ng-repeat="hue in hues" class="hues">
                  <li class="hue {{hue}}">{{hue}}</li>
                </ul>

                <div class="article-heading-border"></div>
              </article>
              </div>
            </div>

            <div class="container_12">
            <section class="newsmodules">

                <div class="grid_4 medium_grid_6">
                <article class="newsmodule1" ng-controller="plotController">
                  <h3 class="newsmodule-header home-article-heading">Newsmodul 1</h3>
                  <img class="article-image" src="http://placehold.it/630x240"/>
                  <h4 class="home-article-subheading">{{information}}</h4>
                  
                </article>
                </div>
                <div class="grid_4 medium_grid_6">
                <article class="newsmodule2" ng-controller="itemsController">
                  <h3 class="newsmodule-header home-article-heading">Newsmodul 2</h3>
                  <img  class="article-image" src="http://placehold.it/630x240"/>
                  <h4 class="home-article-subheading">{{information}}</h4>
                    <ul>
                        <li ng-repeat="status in statuses">
                          <span>{{ status.name }}</span>{{ status.price}}
                        </li>
                    </ul>

                </div> 
                <div class="grid_4 medium_grid_6">
                  <div class="section-border-medium"></div>
                  <h3 class="newsmodule-header home-article-heading">Newsmodul 2</h3>
                  <img  class="article-image" src="http://placehold.it/630x240"/>
                </div>
            </section>
            </div>
            <div class="clear"></div>
        </div>    
    </div>
</div>
<footer id="footer">
  <div class="footer-wrapper">
    <div class="container_12">
      <div class="grid_12">
        <div class="footer-bottom-block">
          <div class="float-me left-big">
          <article class="footer-store-address">
            <address class="footer-store-address-item">An Address, Anywhere</address>
            <address class="footer-store-address-item">Telefon: 072-763-415</address>
            <address class="footer-store-address-item">E-Mail: adhira.vhriddi@gmail.com</address>
          </article>
          </div>
          <div class="float-me right-big small-left">
          <article class="footer-social-icons">
            <a href="#" class="footer-social-icon facebook51x50gif" alt="facebook">Facebook</a>
            <a href="#" class="gmail51x50gif" alt="gmail">Gmail</a>
            <a href="#" class="footer-social-icon" alt="twitter">Twitter</a>
          </article>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div> 
  </div>
</footer>
</body>
</html>